/*estilos generales*/
* {
   
    box-sizing: border-box;
}
body {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  
}

.error{
    display: block;
    color: red;
    font-size: 15px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-align: center;
        margin-right: 30px;
    
}


/* header con el logo y la imagen*/
.cabecera {
 
    background-color: #30559e;
   
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
    width: 100%;
    flex-wrap: wrap;
}
    


.logo {
    display: flex;
    align-items: center;
    color: #d9d9d9;
    margin: 0;
}

.logo img {
    width: 150px;
    height: auto;
  
}

img {
    width: 30%;
    height: auto;
}
.logo h1{
    font-size: 20px;

    
}

main {
    width: 100%;
    min-width: 500px;
    height: auto;
}


.contenedores-secciones{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    
} 

.contenedor-form input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    border: 2px solid #03318C;
    border-radius: 25px;
    font-size: 14px;
    box-sizing: border-box;
}

 .seccion-productos{
    display: flex;
    flex-direction: column;
} 

/* ESTILO DE LA SECCOIN PARA QUE ESTE SIMILAR A LA SECCION DE PRODUCTOS*/
.seccion-form{
    display: flex;
    flex-direction: column;
    
} 

/*estilo CONTENEDOR DEL FORMULARIO*/
.contenedor-form {
    background-color: transparent;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    max-height: 250px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
   
  
}

.contenedor-form h2 {
    padding: 10px;
    text-align: center;
    
    color: #000000;
    font-size: 15px;
}


.contenedor-form input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    border: 2px solid #03318C;
    border-radius: 25px;
    font-size: 14px;
   
}
/*estilo del placeholder del form*/
#input_nombre,
#input_precio,
#input_url,
#input_nombre::placeholder,
#input_precio::placeholder,
#input_url::placeholder {
    font-size: 10px;
    color: #03318C;
}
/*estilo botones del formulario*/
.botonera {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}



.botonera input {
    padding: 10px;
    border: 2px solid #03318C;
    color: #00194b;
    font-size: 10px;
    flex: 1;
    cursor: pointer;
} 


/*CONTENEDOR DE PRODUCTOS*/

.titulo-procontenedor{
    margin: 30px auto;
    font-size: 10px;

}
.contenedor-productos {
  
    width:100%;
    max-width: 500px;
    height: 500px;
    padding: 15px;
    margin: 15px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px 3px rgba(32,32,32,0.3);
    overflow:auto; 
}
/* Estilos del ScrollBar para motores Webkit y blink (Chrome, Safari, Opera... )*/
/*los saque de las pagina: https://www.campusmvp.es/recursos/post/como-personalizar-los-estilos-css-de-las-barras-de-scroll.aspx*/

.contenedor-productos::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor-productos::-webkit-scrollbar:vertical {
    width:10px;
}

.contenedor-productos::-webkit-scrollbar-button:increment,.contenedor-productos::-webkit-scrollbar-button {
    display: none;
} 

.contenedor-productos::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedor-productos::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedor-productos::-webkit-scrollbar-track {
    border-radius: 10px;  
}


/*estilo general de la card e imagen*/
.card {
    background-color: #8962be;
    width: 100%;
    max-width: 150px;
    max-height: 200px;
    padding: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
   
    justify-content: space-between; 
    padding: 10px;
    border-radius: 15px;
    
    box-shadow: 3px 3px 1px 1px rgba(32,32,32,0.3);
}

.card img {
    width: 100%;
    height: 150px;
}
/*estilo contenedor de informacion de la card tanto nombre como datos*/
.card-contenido{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;

}
.card p {
    font-size: 12px;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
 
    font-family: 'Montserrat', sans-serif;
}

/*estilo pie de la card*/
 .informacion {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
  
}

.informacion img {
    width: 15px;
    height:15px;
    margin-left: 80px;
    border-radius: 5px;
    cursor: pointer;
}



/*estilos del footer*/
.pie {
    background-color: #5D04D9;
    width: 100%;
   min-height: 150px;
    margin-top: auto;
   
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
.pie p {
    margin: 5px 0 0 0;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #d9d9d9;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    font-weight: 500;
    font-style: normal;
}


.logo-pie {
    display: flex;
    align-items: center;
    color: #d9d9d9;
    margin-bottom: 0;
}

.logo-pie img {
    width: 50px;
    height: auto;
    margin-right: 5px;
}

.logo-pie h1 {
    font-size: 18px;
    margin-right: 5px;
}

